    main    {
        background-color: #f8f8ff; /* Ghost White */
        padding: 1vh 1vw;
        }
    #wrapper    {
        margin: 0 auto;
        max-width: 1000px;
        }
    #banner {
        text-align: center;
        font-size: larger;
        }
    #locationBox    {
        margin-top: 1ex;
    }
    #entryBox  {
        text-align: center;
        padding: 1em 0;
        }
    #itemBox {
        padding-left: 30vw;
        }
    div.itemTemplate    {
        padding-top: 1ex;
    }
    div.itemTemplate hr {
        width: 50%;
        }
    div.error   {
        padding: 1ex 0;
        color: red;
        }
    div.databox   {
        display: flow-root;
        max-width: 40em;
        margin: 0 auto;
        }
    div.databox div.fields  {
        text-align: center;
    }
    div.databox span  {
        padding: 2px 5px; margin: 2px 10px;
        }
    div.databox div.desc   {
        padding: 1vh 1vw; margin: 1vh 1vw;
        }