{% extends "base.html" %}
  {% block styles %}
    main    {
            background-color: #f8f8ff; /* Ghost White */
            }
    .box    {
            border: thin solid aqua;
            text-align: center;
            }
    .square {
            border: thin solid blue;
            position: relative;
            display: inline-block;
            width: 200px;
            aspect-ratio: 2/1;
            margin: 1vh 1vw;
        }
    .content {
            border: thin solid yellow;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fffaf0; /* Floral White */
            font-size: larger;
            font-weight: 700;
        }
  {% endblock %}
  {% block contents %}
    <div class="box">
    {% if perms.inventory %}
      <div class="square">
        <a href="{% url 'shelves' %}">
          <div class="content">Shelves</div>
        </a>
      </div>
      <div class="square">
        <a href="{% url 'suppliers' %}">
          <div class="content">Suppliers</div>
        </a>
      </div>
      <div class="square">
        <a href="{% url 'itemTemplates' %}">
          <div class="content">Stock</div>
        </a>
      </div>
      <div class="square">
        <a href="{% url 'images' %}">
          <div class="content">Images</div>
        </a>
      </div>
    {% endif %}
    </div>
  {% endblock %}
